html {
    background: url(/brand/footer_banner.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 98%;
}

body {
    width: 98%;
    margin: auto;

    font-size: 1.2em;
    font-family: 'PT Serif', serif;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
}

strong {
    font-weight: 700;
}

a,
a:hover,
a:focus,
a:visited {
    color: #2daf10;
    font-weight: 400;
    text-decoration: underline;
}

.btn-outline-primary,
.btn-outline-primary:visited {
    color: #2daf10;
    border-color: #2daf10;
    text-decoration: none;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    color: #fff;
    background-color: #2daf10;
    border-color: #2daf10;
    text-decoration: none;
}

.pill {
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

a.pill,
a.pill:visited {
    color: #2daf10;
    border: 2px solid #2daf10;
    text-decoration: none;
    transition: all linear 0.2s;
}

a.pill:hover {
    color: #fff;
    background-color: #2daf10;
    transition: all linear 0.2s;
}

.container {
    max-width: 50rem;
}

/*
Header
------
*/
.blog-header {
}

.blog-header nav {
    font-family: 'Roboto Condensed', sans-serif;
}

.blog-header .translation {
    opacity: 0.3;
}

.blog-header .translation:hover {
    opacity: 1;
}

.navbar-toggler {
    border: 1px solid #eee;
    margin-top: 0.5rem;
}

.navbar-brand {
    margin-right: 50px;
}

.navbar-nav {
}

/* Nav links */
a.nav-link,
a.nav-link:visited {
    margin-right: 50px;
    padding: 1rem;
    color: #222;
    font-weight: 400;
    text-decoration: none;
    transition: all linear 0.1s;
}

a.nav-link:hover,
a.nav-link:focus,
a.nav-link:active {
    font-weight: 400;
    color: #2daf10;
    text-decoration: none;
    transition: all linear 0.1s;
}

/*
Hero
----
*/
.hero {
    margin-bottom: 3rem;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #eee;
    padding: 3em 0 0.2em 0;
}

.hero h1 {
    font-size: 3em;
}

.hero p.description {
    max-width: 740px;
    font-size: 21px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 28px;
    margin: 28px auto 0;
    position: relative;
}

.hero p.description:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: #2daf10;
}

/*
Headers Tools
-------------
 */
h4.header-info {
    color: #c9c9c9;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-bottom: 0;
}

h4.header-info-value {
    color: #8d8f91;
    font-size: 2em;
    font-weight: 400;
}

.top-1 {
    margin-top: 1em;
}

/*
Social
------
 */

.social {
    font-size: 1.5em;
    text-align: center;
}

.social a,
.social a:visited {
    margin: 0.3em;
    text-decoration: none;
    transition: all linear 0.1s;
}

.social a:active,
.social a:hover,
.social a:focus {
    color: #81e86b;
    font-weight: 400;
    transition: all linear 0.1s;
}

/* Post Lists */
.post-item {
    text-align: center;
    padding: 2em 0 2em 0;
}

.post-item.even {
    background-color: #fff;
}

.post-item.odd {
    background-color: #f9f9f9;
}

.post-item .post-body h2 {
    font-size: 1.4em;
}

.post-item h2 a.post-link,
.post-item h2 a.post-link:visited {
    text-decoration: none;
    transition: all linear 0.1s;
}

.post-item h2 a.post-link:hover,
.post-item h2 a.post-link:focus,
h2 a.post-link:active {
    color: #222;
    text-decoration: none;
    transition: all linear 0.2s;
}

.post-item .post-text {
    color: #222;
}

.post-item .post-body {
    margin-top: 1rem;
}

.single .post-title {
    margin-top: 2em;
}

.post-cover {
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.post-content {
    line-height: 1.58;
    font-weight: 200;
}

.single .row,
.container-author .row {
    margin-left: 0;
    margin-right: 0;
}

.post-content img {
    max-width: 100%;
    height: auto;
}

.post-content h2 {
    margin-top: 0.78em;
    margin-bottom: 0.3em;
}

.post-content ol {
    display: block;
    width: 100%;
}

.post-content p {
    width: 100%;
}

.post-content pre {
    width: 100%;
    background-color: #1b1e21;
    color: #2daf10;
    border: 1px solid #222;
    border-radius: 0.9em;
    padding: 1em;
}

.post-content blockquote {
    width: 80%;
    margin: auto;
    display: inline-block;
    color: #5d5d5d;
}

.site-footer {
    padding: 5rem 0 15px 0;
    color: #FBFCFD;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    background: url(/brand/footer_banner.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.site-footer p {
    font-size: 0.7em;
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: none;
    font-weight: bold;
}

.site-footer a:hover, .site-footer a:visited:hover {
    color: #42C94F;
}

.site-footer .branding {
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}

.site-footer .branding a {
    margin: 0 1em 0 1em;
    font-weight: 400;
}

.site-footer .technicalities {
    font-family: 'Roboto Condensed', sans-serif;
}

.container-author {
    border-top: 1px solid #f3f3f3;
    background-color: #f9f9f9;
    padding: 0.2em 0 0.2em 0;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid #eee;
}

.post-author {
    font-size: 0.8em;
    margin-bottom: 3em;
    margin-top: 3em;
}

.author-pic {
    text-align: center;
}

.author-pic img {
    border-radius: 50%;
}

.author-info {

}

.text-dark {
    color: #222;
}

.author-info .author-name {
    color: #403f3f;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.author-info .author-bio {
    color: #a9a9a9;
    font-size: 0.9em;
    margin-bottom: 0.2em;
}

.author-info .author-website a {
    font-style: italic;
    font-weight: 400;
    color: #a9a9a9;
}

.post-info {
    font-family: 'Roboto Condensed', sans-serif;
}

h4.header-info-value {
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 400;
}

h4.info-tags {
    line-height: 1.5em;
}

.my-pagination {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.7em;
    margin: 3em 0 2em 0;
}

.post-share {
    text-align: center;
}

.post-share h5 {
    color: #BBC7CC;
}

.post-share a {
    font-size: 2.2rem;
    display: inline-block;
    margin: 1rem 1.0rem 1.6rem 1.0rem;
    color: #BBC7CC;
    text-decoration: none;
}

.post-share a:hover {
    color: #50585D;
}

/* Mailchimp */
#mc_embed_signup {
    background: #f9f9f9;
    border-radius: 1em;
    padding: 1em;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    border: 1px solid #f3f3f3;
}

#mc_embed_signup .subscribe-button {
    text-align: center;
}

#mc_embed_signup h4 {
    text-align: left;
    color: #ABABAB;
    font-size: 1.2em;
    padding: 1em;
    font-weight: 500;
}
