{{/* Sync with taxonomy/category.html too! */}}

{{ define "main" }}
<div class="blog">
    <div class="content-wrapper white-bg">
        <div class="marged marged-top">
        {{ partialCached "navbar" . }}
        </div>
    </div>

{{ partialCached "blog/hero" . }}

    <div class="content-wrapper white-bg">
        <div class="marged">
            <div class="container-fluid">
                <section class="main">
                {{ partial "blog/posts" . }}
                </section>
            </div>
        </div>

    {{ partial "subscribe.html" . }}
    </div>
</div>
{{ end }}
