<div class="container" id="hero">
    <div class="row justify-content-center">
        <div class="col-6 col-sm-5 col-md-3 pic">
            <img class="img-fluid"
                 src="{{ .Params.intro.image }}"/>
        </div>
        <div class="col-8">
            <h1 class="intro text-center text-md-left">
            {{ default .Params.intro.headline }}
            </h1>

        {{ with .Params.intro.tagline }}
            <h2 class="tagline mt-4 text-center text-md-left">
            {{ . }}
            </h2>
        {{ end }}

            <div class="leads mt-md-5 text-center text-md-left">
            {{ range .Params.intro.notes }}
                <p class="lead {{ if eq .priority 1 }}{{end}}{{ if eq .priority 2 }}d-none d-md-block{{ end }}{{if eq .priority 3}}d-none d-lg-block{{ end }}">
                {{ .headline | safeHTML }}
                </p>
            {{ end }}
            </div>
        </div>
    </div>
</div>
