{{ $author := .Site.Author }}

<div class="container-fluid je-ne-suis-pas-un hero">
    <div class="row">
        <div class="col-md-12 text-center">
            {{ with .Site.Params.heroTitle }}
            <h1>{{ . }}</h1>
            {{ end }}

            {{ with .Site.Params.description}}
            <p class="description">
                {{ . }}
            </p>
            {{ end }}

            <h4 class="header-info top-1">Connect with us:</h4>
            {{ partial "social" $author }}
        </div>
    </div>
</div>
