{{ $author := .Site.Author }}

<div class="container-fluid je-ne-suis-pas-un hero">
    <div itemprop="author" itemscope="" itemtype="http://schema.org/Person"
         class="row justify-content-center post-author">

        <div class="col-md-2 author-pic">
            <img itemprop="image" src="{{ $author.image }}"/>
        </div>
        <div class="col-md-6 author-info">
            <h1>Welcome, Bienvenue.</h1>
            <p class="description text-muted">
                {{ $author.intro }}
            </p>

            <h4 class="header-info">Reach out to me:</h4>
            <p class="social">
                {{ with $author.github }}
                <a class="fa fa-github" href="http://github.com/{{ . }}"></a>
                {{ end }}
                {{ with $author.linkedin }}
                <a class="fa fa-linkedin" href="http://www.linkedin.com/in/{{ . }}"></a>
                {{ end }}
                {{ with $author.twitter }}
                <a class="fa fa-twitter" href="http://twitter.com/{{ . }}"></a>
                {{ end }}
                {{ with $author.angellist }}
                <a class="fa fa-angellist" href="https://angel.co/{{ . }}"></a>
                {{ end }}
                {{ with $author.homepage }}
                <a class="fa fa-user" href="{{ . }}"></a>
                {{ end }}
                {{ with $author.rss }}
                <a class="fa fa-rss" href="{{ . }}" type="application/rss+xml" target="_blank"></a>
                {{ end }}
            </p>

        </div>
    </div>
</div>
</div>
