<div class="container" id="hero">
    <div class="row justify-content-center">
        <div class="col-8 col-sm-6 col-md-4 pic">
            <img class="img-fluid" src="{{ .Params.intro.image }}"/>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="intro text-center">
                {{ .Params.intro.headline }}
            </h1>

            {{ with .Params.intro.tagline }}
            <h2 class="tagline mt-4 text-center">
                {{ . }}
            </h2>
            {{ end }}

        </div>
    </div>

    <div class="push-down-wrapper">
        <div class="d-flex flex-row justify-content-center" id="cta">
            <div class="text-center text-sm-right">
                <a href="#contact" class="btn btn-primary" role="button"
                   data-scroll
                >
                    Subscribe
                </a>
            </div>
            <div class="d-none d-sm-block text-center text-sm-left">
                <a href="#benefits" class="btn btn-outline-primary" role="button"
                   data-scroll
                >
                    Learn More
                </a>
            </div>
        </div>
    </div>
</div>
